@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 220 28% 20%;
    --card: 210 20% 98%;
    --card-foreground: 220 28% 20%;
    --popover: 210 20% 98%;
    --popover-foreground: 220 28% 20%;
    --primary: 206 59% 56%; /* #388AC4 */
    --primary-foreground: 210 20% 98%;
    --secondary: 221 54% 43%; /* #345DA7 */
    --secondary-foreground: 210 20% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 197 66% 57%; /* #46B4DE */
    --accent-foreground: 220 28% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 30% 80%;
    --input: 221 30% 90%;
    --ring: 206 59% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 28% 15%;
    --foreground: 210 20% 94%;
    --card: 220 28% 15%;
    --card-foreground: 210 20% 94%;
    --popover: 220 28% 15%;
    --popover-foreground: 210 20% 94%;
    --primary: 206 59% 56%; /* #388AC4 */
    --primary-foreground: 220 28% 15%;
    --secondary: 221 54% 43%; /* #345DA7 */
    --secondary-foreground: 0 0% 98%;
    --muted: 220 28% 22%;
    --muted-foreground: 210 20% 70%;
    --accent: 197 66% 57%; /* #46B4DE */
    --accent-foreground: 220 28% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 28% 25%;
    --input: 220 28% 25%;
    --ring: 206 59% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-scroll {
    animation: scroll var(--animation-duration, 40s)
      var(--animation-direction, forwards) linear infinite;
  }
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
